<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:component-scan base-package="com.friendster.api" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<bean class="com.friendster.api.client.FriendsterAPIClient"
		lazy-init="true">
		<constructor-arg name="appDetails" ref="appDetails" />
	</bean>

	<!-- App Details such as API Key and API Secret are defined here -->
	<bean id="appDetails" class="com.friendster.api.client.request.FriendsterPCPAppInfo">
		<property name="apiKey" value="ff29a051ae61ab617f1d9f963082897b" />
		<property name="apiSecret" value="8cb51514b1afd94b870b9e29aa0f1325" />
	</bean>
	
</beans>